.login {
    color: #000;
    background-color: #f8f9fa;
    border-color: red;
    border-radius: 10px;
}

.login:hover {
    color: #000;
    background-color: #d3d4d5;
    border-color: #c6c7c8;
}

.login:active {
    color: #000;
    background-color: #c6c7c8;
    border-color: #babbbc;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.pagination a,
.pagination a:focus,
.pagination a:hover {
    color: #000;
}

.pagination .active {
    border-color: #000;
    background-color: #000;
}

.pagination .active:hover {
    color: #fff;
}
