{% extends "pages/base.html" %}
{% block subtitulo %}Sobre{% endblock %}
{% block conteudo %}
<div class="col-10 mx-auto my-5">
    <div class="d-flex justify-content-center mb-3">
        <i class="bi bi-cash-coin display-1"></i>    
    </div>
    <p class="lead" style="text-align: justify;">
        O DespControl consiste em um gerenciador de despesas. O usuário pode se cadastrar e criar suas próprias despesas e
        categorias, de forma a fazer um melhor gerenciamento de seus gastos.
    </p>
    <p class="lead" style="text-align: justify;">
        Esse projeto faz parte da disciplina de Desenvolvimento Web, ministrada pelo professor Ricardo Maroquio. A disciplina
        faz parte do curso de Sistemas de Informação, ofertado pelo Instituto Federal do Espírito Santo - campus Cachoeiro de
        Itapemirim.
    </p>
    <p class="lead" style="text-align: justify;">
        O trabalho foi desenvolvido por 
        <a href="https://github.com/GNobroga" target="_blank" class="text-decoration-none">Gabriel Cardoso Girarde</a> e 
        <a href="https://github.com/4L1C3-R4BB1T" target="_blank" class="text-decoration-none">Livia Guimarães de Jesus</a>.
    </p>
</div>
{% endblock %}