{% extends "base.html" %}
{% block subtitulo %}Página Não Encontrada{% endblock %}
{% block conteudo %}
<div class="col-lg-6 mx-auto text-center">
    <h1 class="display-5"><b>Página Não Encontrada</b></h1>
    <hr>
    <p class="lead">
        A página buscada não existe ou foi comida pelo totó. O endereço da página pode estar expirado, incorreto ou a página
        pode ter sido removida.
    </p>
    <p>
        <img src="/static/img/404.png" alt="Totó comendo uma página." height="300px">
    </p>
</div>
{% endblock %}