{% extends "/partials/base.html" %}
{% block subtitulo %}Alterar Categoria{% endblock %}
{% block conteudo %}
<div class="col-12 col-lg-6 mx-auto">
    <h1 class="display-5"><b>Alterar Categoria</b></h1>
    <hr>
    <form class="row json-form p-3" method="post" action="/usuario/post_alterar_categoria/{{ categoria.id }}">
        <div>
            <input type="hidden" name="id" value="{{ categoria.id }}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nome" name="nome" value="{{ categoria.nome }}">
                <label for="nome">Nome</label>
            </div>
            <div class="form-floating mb-3">
                <input type="color" class="form-control" id="cor" name="cor" value="{{ categoria.cor }}">
                <label for="cor">Cor</label>
            </div>
            <div class="d-flex justify-content-end gap-2">
                <a href="/usuario/categorias"
                    class="bg-danger text-light text-decoration-none d-flex justify-content-center align-items-center px-4 py-2 fs-5 rounded-3">Voltar</a>
                <button type="submit" class="btn btn-lg btn-success">Alterar</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/js/formToJson.js"></script>
<script src="/static/js/inputMasks.js"></script>
{% endblock %}