<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Gerenciador de Despesas :: {% block subtitulo %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {% include "header.html" %}
    <main class="container mt-3">
        <div class="row">
            <div class="col-12">
                {% if not message_success: %}
                {%- set message_success = request.cookies.get("message_success") -%}
                {% endif %}
                {% if not message_warning: %}
                {%- set message_warning = request.cookies.get("message_warning") -%}
                {% endif %}
                {% if not message_danger: %}
                {%- set message_danger = request.cookies.get("message_danger") -%}
                {% endif %}

                {%- if message_success: -%}
                {%- include "message_success.html" with context -%}
                {%- endif -%}
                {%- if message_warning: -%}
                {%- include "message_warning.html" with context -%}
                {%- endif -%}
                {%- if message_danger: -%}
                {%- include "message_danger.html" with context -%}
                {%- endif -%}
            </div>
            <div class="col-12">
                {% block topo %}{% endblock %}
            </div>
        </div>
        {% block conteudo %}{% endblock %}
    </main>
    {% include "footer.html" %}
    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>
