{% extends "base.html" %}
{% block subtitulo %}Cadastro Realizado!{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Cadastro Realizado com Sucesso!</b></h1>
<hr>
<p class="lead">
    Parabéns! Agora você está cadastrado na <b>DespeControl</b> e pode realizar o gerenciamento de suas despesas. Para
    entrar agora mesmo, basta clicar no botão a seguir.</p>
<p>
    <a href="/entrar" class="btn btn-danger">Entrar</a>
</p>
<p class="lead">
    Atenciosamente,<br>
    Equipe de Suporte da <b>DespeControl</b>
</p>
{% endblock %}