{% extends "/partials/base.html" %}
{% block subtitulo %}Despesas{% endblock %}
{% block conteudo %}
<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-5">Despesas</h1>
    <button type="button" class="btn btn-success rounded-5" data-bs-toggle="modal" data-bs-target="#cadastroDespesa">
        <i class="bi bi-plus-circle-fill fs-4 text-light"></i>
    </button>
</div>
<hr>
{%- set url = 'despesas' -%}
{% include "paging.html" %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3 mb-4">
    {% if not despesas %}
    <div class="col-lg-6 mx-auto text-center">
        <p class="lead mt-5">Não há despesas cadastradas!</p>
        <i class="bi bi-database-x fs-1"></i>
    </div>
    {%- else: -%}
    {% for d in despesas %}
    <div class="col">
        <div class="card h-100 shadow">
            <div class="d-flex justify-content-between align-items-center mx-3 mt-3">
                <span class="px-2 py-1 small rounded-2 fw-semibold text-light" style="background-color: {{ d.cor_categoria }}; text-shadow: 1.5px 1.5px #000;">{{ d.nome_categoria }}</span>
                <div class="d-flex gap-3">
                    <a href="/usuario/alterar_despesa/{{ d.id }}">
                        <i class="bi bi-pencil-fill text-warning fs-4 p-1 rounded-3 shadow"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-trash3-fill text-danger fs-4 p-1 rounded-3 shadow"></i>
                    </a>
                </div>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">
                    {{ d.descricao }}
                </h5>
                <div>
                    <p class="card-text">
                        {{ d.data }}

                    </p>
                    <p class="lead text-danger fw-bold mb-0">
                        R$ {{ "{:,.2f}".format(d.valor) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {%- endif -%}
</div>
<div class="modal fade" id="cadastroDespesa" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastroDespesaLabel">Cadastrar Despesa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="row json-form p-3" method="post" action="/usuario/post_cadastro_despesa">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="descricao" name="descricao" placeholder=" ">
                        <label for="descricao">Descrição</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" step=".01" class="form-control" id="valor" name="valor" placeholder=" ">
                        <label for="valor">Valor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="data" name="data" placeholder=" ">
                        <label for="data">Data</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="id_categoria" name="id_categoria">
                            <option selected>Selecione uma categoria...</option>
                            {% for c in categorias %}
                            <option value="{{ c.id }}">{{ c.nome }}</option>
                            {% endfor %}
                        </select>
                        <label for="id_categoria">Categoria</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sair</button>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/formToJson.js"></script>
<script src="/static/js/inputMasks.js"></script>
{% endblock %}