{% extends "/partials/base.html" %}
{% block subtitulo %}Tivemos um Contratempo...{% endblock %}
{% block conteudo %}
<div class="col-lg-6 mx-auto">
    <h1 class="display-5"><b>Tivemos um Contratempo...</b></h1>
    <hr>
    <p class="lead">
        Um problema inesperado ocorreu em nossos servidores. A equipe de suporte já foi notificada para sanar o problema. Clique no link a seguir para retornar à página principal.
    </p>
    <p>
        <a href="/" class="btn btn-dark btn-lg">Voltar à Página Principal</a>
    </p>
</div>
{% endblock %}