<nav class="navbar navbar-dark bg-dark navbar-expand-lg text-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-cash-stack me-2"></i>
            <span>DespeControl</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set pagina_atual = request.url.path %}
        <div class="collapse navbar-collapse justify-content-end" id="menuPrincipal">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if not usuario or not usuario.nome -%}
                <li class="nav-item">
                    <a class="nav-link px-4 login" href="/entrar">Entrar</a>
                </li>
                {%- else: -%}
                <form class="d-flex" role="search" action="/buscar" method="get">
                    <input class="form-control me-2" type="search" placeholder="O que deseja buscar?" name="q">
                    <button class="btn btn-light" type="submit">Buscar</button>
                </form>
                <li class="nav-item ms-5">
                    <a class="nav-link {{ 'active' if pagina_atual == '/entrar' }}" href="/usuario/despesas">Minhas Despesas</a>
                </li>
                <li class="nav-item dropdown ms-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Olá, <b>{{ usuario.nome }}</b>!
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {{ 'active' if pagina_atual == '/usuario/despesas' }}" href="/usuario/despesas">Minha Despesas</a></li>
                        <li><a class="dropdown-item  {{ 'active' if pagina_atual == '/usuario/perfil' }}" href="/usuario/perfil">Meu Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/sair">Sair</a></li>
                    </ul>
                </li>
                {%- endif -%}
            </ul>
        </div>
    </div>
</nav>