{% extends "/partials/base.html" %}
{% block subtitulo %}Alteração de Senha{% endblock %}
{% block conteudo %}
<div class="col-12 col-md-6 col-xl-4 mx-auto">
    <h1 class="display-5"><b>Alteração de Senha</b></h1>
    <hr>
    <form class="row json-form" method="post" action="/usuario/post_senha">
        <div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="senha" name="senha" placeholder=" ">
                <label for="senha">Senha</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="novaSenha" name="nova_senha" placeholder=" ">
                <label for="novaSenha">Nova Senha</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confNovaSenha" name="confirmacao_nova_senha"
                    placeholder=" ">
                <label for="confSenha">Confirmação da Nova Senha</label>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-dark btn-lg">Alterar Senha</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/js/formToJson.js"></script>
<script src="/static/js/inputMasks.js"></script>
{% endblock %}