{% extends "/partials/base.html" %}
{% block subtitulo %}Perfil{% endblock %}
{% block conteudo %}
<div class="col-12 col-md-6 col-xl-4 mx-auto">
    O DespControl consiste em um gerenciador de despesas. O usuário pode se cadastrar e criar suas próprias despesas e
    categorias, de forma a fazer um melhor gerenciamento de seus gastos.
    
    Esse projeto faz parte da disciplina de Desenvolvimento Web, ministrada pelo professor Ricardo Maroquio. A disciplina
    faz parte do curso de Sistemas de Informação, ofertado pelo Instituto Federal do Espírito Santo - campus Cachoeiro de
    Itapemirim.
    
    O trabalho foi desenvolvido por <a href="https://github.com/GNobroga">Gabriel Cardoso Girarde</a> e <a href="https://github.com/4L1C3-R4BB1T">Livia Guimarães de Jesus</a>.
</div>
{% endblock %}